<head>
<style type="text/css">
/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 13px;font-family: 'Arial';font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}
</style>


<script language="JavaScript1.4" type="text/javascript">
<!--
function jsPlay(soundobj) {
 var thissound= eval("document."+soundobj);
 try {
     thissound.Play();
 }
 catch (e) {
     thissound.DoPlay();
 }
}
//-->
</script>

<script language="javascript" type="text/javascript">
<!--
function MM_swapImgRestore() {
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() {
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) {
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() {
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

//-->
</script>

</head>

<body>

<div id="nav10d" style="position:absolute; left:5px; top:80px; z-index:0"><a onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('nav10','','http://people.mozilla.com/~mnandigama/images/nav12971480a.gif',1)" href="latest" target="iFrame1"><img name="nav10" onLoad="MM_preloadImages('http://people.mozilla.com/~mnandigama/images/nav12971480a.gif')" alt="" border=0 src="http://people.mozilla.com/~mnandigama/images/nav12971480i.gif"></a></div>
<div id="nav11d" style="position:absolute; left:5px; top:113px; z-index:0"><a onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('nav11','','http://people.mozilla.com/~mnandigama/images/nav12971481a.gif',1)" href="topfails" target="iFrame1"><img name="nav11" onLoad="MM_preloadImages('http://people.mozilla.com/~mnandigama/images/nav12971481a.gif')" alt="" border=0 src="http://people.mozilla.com/~mnandigama/images/nav12971481i.gif"></a></div>
<div id="nav12d" style="position:absolute; left:5px; top:146px; z-index:0"><a onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('nav12','','http://people.mozilla.com/~mnandigama/images/nav12971482a.gif',1)" href="tests" target="iFrame1"><img name="nav12" onLoad="MM_preloadImages('http://people.mozilla.com/~mnandigama/images/nav12971482a.gif')" alt="" border=0 src="http://people.mozilla.com/~mnandigama/images/nav12971482i.gif"></a></div>
<div id="nav13d" style="position:absolute; left:5px; top:179px; z-index:0"><a onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('nav13','','http://people.mozilla.com/~mnandigama/images/nav12971483a.gif',1)" href="failswindow?window=7d" target="iFrame1"><img name="nav13" onLoad="MM_preloadImages('http://people.mozilla.com/~mnandigama/images/nav12971483a.gif')" alt="" border=0 src="http://people.mozilla.com/~mnandigama/images/nav12971483i.gif"></a></div>
<div id="nav14d" style="position:absolute; left:5px; top:212px; z-index:0"><a onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('nav14','','http://people.mozilla.com/~mnandigama/images/nav12971484a.gif',1)" href="Help" target="iFrame1"><img name="nav14" onLoad="MM_preloadImages('http://people.mozilla.com/~mnandigama/images/nav12971484a.gif')" alt="" border=0 src="http://people.mozilla.com/~mnandigama/images/nav12971484i.gif"></a></div>

<div id="iFrame1" style="position:absolute; left:187px; top:69px; z-index:1">
<iframe name="iFrame1" width="870" height="1978" src="Help" scrolling="no" frameborder="0"></iframe>
</div>

<div id="text1" style="position:absolute; overflow:hidden; left:305px; top:11px; width:690px; height:90px; z-index:2">
<div class="wpmd">
<div><font color="#FF9900" face="Calibri" class="ws20"><B>Mozilla Firefox Tinderbox Topfails Dashboard</B></font></div>
</div></div>

<div id="image1" style="position:absolute; overflow:hidden; left:4px; top:15px; width:181px; height:61px; z-index:3"><img src="http://people.mozilla.com/~mnandigama/images/img5846075.png" alt="" title="" border=0 width=181 height=61></div>

</body>

